In [1]:
#Importamos las librerías

import pandas as pd

Insertamos los datos en un DataFrame para su posterior análisis

In [2]:
#inspeccionamos los datos
df_homi= pd.read_csv(r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\homicidios.csv",delimiter=';',encoding='latin-1')
df_homi.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1.0,1/01/2016,2016.0,1.0,1.0,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1.0,2/01/2016,2016.0,1.0,2.0,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1.0,3/01/2016,2016.0,1.0,3.0,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1.0,10/01/2016,2016.0,1.0,10.0,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1.0,21/01/2016,2016.0,1.0,21.0,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃA, LUIS, PRES.",1.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Analizamos y limpiamos el contenido del Dataframe

In [3]:
df_homi.isna().sum()
#Observamos que las columnas tienen muchas filas vacías

ID                        9797
N_VICTIMAS                9797
FECHA                     9797
AAAA                      9797
MM                        9797
DD                        9797
HORA                      9797
HH                        9797
LUGAR_DEL_HECHO           9797
TIPO_DE_CALLE             9797
Calle                     9798
Altura                   10364
Cruce                     9968
Dirección Normalizada     9805
COMUNA                    9797
XY (CABA)                 9797
pos x                     9797
pos y                     9797
PARTICIPANTES             9797
VICTIMA                   9797
ACUSADO                   9797
dtype: int64

In [4]:
#Eliminamos las filas que tengan todas las columbas vacías 
df_homi_2 = df_homi.dropna(axis=0, how='all')
df_homi_2.isna().sum() #Reducimos mucho la cantidad de nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [199]:
#Verificamos si hay columnas con todas las columnas repetidas
duplicados = df_homi_2[df_homi_2.duplicated(keep=False)]
duplicados
#No hay filas repeditas

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Altura, Cruce, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

[0 rows x 21 columns]

Asignamos nombres que representen de mejor manera el contenido de la columna

In [200]:
#Primero normalizamos el nombre de las columnas

# Función para normalizar el nombre de la columna
def normalizar_nombre_columna(nombre):
    # Dividir el nombre por espacios
    partes = nombre.split()
    # Si hay más de una parte (es decir, había espacios), unir con guion bajo y capitalizar cada palabra
    if len(partes) > 1:
        nombre_normalizado = '_'.join([parte.capitalize() for parte in partes])
    else:
        # Si no hay espacios, capitalizar la primera letra
        nombre_normalizado = nombre.capitalize()
    return nombre_normalizado

# Normalizar nombres de columnas en el DataFrame
df_homi_2.columns = [normalizar_nombre_columna(col) for col in df_homi_2.columns]

# Mostramos los nombres de las columnas normalizados

df_homi_2.head(1)

,Id,N_victimas,Fecha,Aaaa,Mm,Dd,Hora,Hh,Lugar_del_hecho,Tipo_de_calle,...,Altura,Cruce,Dirección_Normalizada,Comuna,Xy_(caba),Pos_X,Pos_Y,Participantes,Victima,Acusado
0,2016-0001,1.0,1/01/2016,2016.0,1.0,1.0,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

In [201]:
#Ahora cambiamos asignamos los nombres que representen mejor los datos
df_homi_2 = df_homi_2.rename(columns={'Pos_X':'Latitud', 'Pos_Y':'Longitud'})
df_homi_2 = df_homi_2.rename(columns={'Dirección_Normalizada':'Dirección'})
df_homi_2 = df_homi_2.rename(columns={'Hora':'Hora_no'})
df_homi_2 = df_homi_2.rename(columns={'Hh':'Hora'})
df_homi_2 = df_homi_2.rename(columns={'Aaaa':'Año','Mm':'Mes','Dd':'Dia'})
df_homi_2.head(1)

,Id,N_victimas,Fecha,Año,Mes,Dia,Hora_no,Hora,Lugar_del_hecho,Tipo_de_calle,...,Altura,Cruce,Dirección,Comuna,Xy_(caba),Latitud,Longitud,Participantes,Victima,Acusado
0,2016-0001,1.0,1/01/2016,2016.0,1.0,1.0,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

Eliminamos las columnas que no nos será útil

In [202]:
#Eliminaremos las columnas que separan la fecha y la hora ya que pandas tiene métodos con los cuales trabajaremos
df_homi_2 = df_homi_2.drop(columns=['Fecha'])
df_homi_2 = df_homi_2.drop(columns=['Hora_no'])
df_homi_2 = df_homi_2.drop(columns=['Xy_(caba)']) #Suficiente con las
df_homi_2 = df_homi_2.drop(columns=['Lugar_del_hecho','Participantes','Tipo_de_calle'] )
df_homi_2.head(1)

,Id,N_victimas,Año,Mes,Dia,Hora,Calle,Altura,Cruce,Dirección,Comuna,Latitud,Longitud,Victima,Acusado
0,2016-0001,1.0,2016.0,1.0,1.0,4,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,-58.47533969,-34.68757022,MOTO,AUTO

Cambiamos el tipo de datos de algunas columnas para facilitar el análisis

In [210]:
#Para el análisis con pandas de las columnas, necesitamos que el tipo de datos sea el adecuado

#Primero nos aseguramos que los valores no numéricos sean convertidos a Nan para luego trabajarlos
df_homi_2['Hora'] = pd.to_numeric(df_homi_2['Hora'],errors='coerce')
df_homi_2['Mes'] = pd.to_numeric(df_homi_2['Mes'],errors='coerce')
df_homi_2['Dia'] = pd.to_numeric(df_homi_2['Dia'],errors='coerce')
df_homi_2['Comuna'] = pd.to_numeric(df_homi_2['Comuna'],errors='coerce')
df_homi_2['Hora'] = pd.to_numeric(df_homi_2['Hora'],errors='coerce')

In [222]:
df_homi_2.head()
df_homi_2['Acusado'].value_counts()

Acusado
AUTO           202
PASAJEROS      172
CARGAS         141
OBJETO FIJO     61
MOTO            57
SD              20
MULTIPLE        17
BICICLETA        7
OTRO             6
TREN             1
Name: count, dtype: int64

In [218]:
df_homi_2['Hora'].unique()

array([ 4.,  1.,  7.,  0.,  5., 18., 19., 15., 11., 22., 16.,  9., 23.,
        6., 10., 17., 12.,  8., 21., 20., 14.,  3.,  2., 13., nan])

Imputamos datos

In [212]:

#Imputamos SD donde la altura sea nulo
df_homi_2['Cruce'] = df_homi_2['Cruce'].fillna('SD')

#Imputamos Sd donde Calle sea nulo
df_homi_2['Calle'] = df_homi_2['Calle'].fillna('SD')

#Imputamos SD donde Dirección sea
df_homi_2['Dirección'] = df_homi_2['Dirección'].fillna('SD')

df_homi_2.isna().sum()

Id              0
N_victimas      0
Año             0
Mes             0
Dia             0
Hora            1
Calle           0
Altura        567
Cruce           0
Dirección       0
Comuna          0
Latitud         0
Longitud        0
Victima         0
Acusado         0
dtype: int64

In [214]:
'''Explorando los datos, me percaté que en Latitud y longitud, 
hay otra manera de rellenar los datos diferente a 'SD' y es colocando '.' '''

# Reemplaza las comas por puntos en las columnas de coordenadas si es necesario
df_homi_2['Longitud'] = df_homi_2['Longitud'].str.replace(',', '.')
df_homi_2['Latitud'] = df_homi_2['Latitud'].str.replace(',', '.')

# Identifica valores no convertibles
invalid_longitudes = df_homi_2[~df_homi_2['Longitud'].str.replace('.', '', 1).apply(lambda x: x.isdigit() or x.replace('-', '').isdigit())]
invalid_latitudes = df_homi_2[~df_homi_2['Latitud'].str.replace('.', '', 1).apply(lambda x: x.isdigit() or x.replace('-', '').isdigit())]

print("Valores inválidos en 'Longitud':")
print(invalid_longitudes)

print("Valores inválidos en 'Latitud':")
print(invalid_latitudes)

# Elimina o maneja los valores no convertibles
df_homi_2 = df_homi_2.drop(invalid_longitudes.index)
df_homi_2 = df_homi_2.drop(invalid_latitudes.index)

# Convierte las columnas a float
df_homi_2['Longitud'] = df_homi_2['Longitud'].astype(float)
df_homi_2['Latitud'] = df_homi_2['Latitud'].astype(float)

# Muestra el DataFrame resultante
df_homi_2.info()

Valores inválidos en 'Longitud':
Empty DataFrame
Columns: [Id, N_victimas, Año, Mes, Dia, Hora, Calle, Altura, Cruce, Dirección, Comuna, Latitud, Longitud, Victima, Acusado]
Index: []
Valores inválidos en 'Latitud':
Empty DataFrame
Columns: [Id, N_victimas, Año, Mes, Dia, Hora, Calle, Altura, Cruce, Dirección, Comuna, Latitud, Longitud, Victima, Acusado]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 695
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          684 non-null    object
 1   N_victimas  684 non-null    float64
 2   Año         684 non-null    float64
 3   Mes         684 non-null    float64
 4   Dia         684 non-null    float64
 5   Hora        683 non-null    float64
 6   Calle       684 non-null    object
 7   Altura      129 non-null    float64
 8   Cruce       684 non-null    object
 9   Dirección   684 non-null    object
 10  Comuna      684 non-null    float64
 11  Latitud     684 non-null    float64
 12  Longitud    684 non-null    float64
 13  Victima     684 non-null    object
 14  Acusado     684 non-null    object
dtypes: float64(9), object(6)
memory usage: 85.5+ KB

In [215]:
df_homi_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 695
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          684 non-null    object
 1   N_victimas  684 non-null    float64
 2   Año         684 non-null    float64
 3   Mes         684 non-null    float64
 4   Dia         684 non-null    float64
 5   Hora        683 non-null    float64
 6   Calle       684 non-null    object
 7   Altura      129 non-null    float64
 8   Cruce       684 non-null    object
 9   Dirección   684 non-null    object
 10  Comuna      684 non-null    float64
 11  Latitud     684 non-null    float64
 12  Longitud    684 non-null    float64
 13  Victima     684 non-null    object
 14  Acusado     684 non-null    object
dtypes: float64(9), object(6)
memory usage: 85.5+ KB

Por último guardamos el Dataframe en un csv

In [217]:
df_homi_2.to_csv(r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\homicidiosETL.csv",sep=';',encoding='latin-1')