In [2]:
import pandas as pd

In [1]:
archivo_homi = r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\homicidiosETL.csv"
archivo_vic = r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\victimasETL.csv"

Insertamos los datos en un DataFrame

In [3]:
#Insertamos Homicidios
df_h = pd.read_csv(archivo_homi,delimiter=';',encoding='latin-1',index_col=0)
df_h.isna().sum()

Id              0
N_victimas      0
Año             0
Mes             0
Dia             0
Hora            1
Calle           0
Altura        555
Cruce           0
Dirección       0
Comuna          0
Latitud         0
Longitud        0
Victima         0
Acusado         0
dtype: int64

In [4]:
#Insertamos Victimas
df_v = pd.read_csv(archivo_vic,delimiter=';',encoding='latin-1',index_col=0)
df_v.isna().sum()

Id                     0
Fecha                  0
Rol                    0
Victima                0
Sexo                   0
Edad                   0
Dias_hospitalizado    68
dtype: int64

In [5]:
#Debido a que Homicidios ya tiene fecha, eliminamos fecha de victimas
df_v = df_v.drop(columns='Fecha')

Realizamos el merge de las tablas para mejorar el análisis

In [6]:
df_final = pd.merge(df_v,df_h,on='Id')
df_final.head(3)

,Id,Rol,Victima_x,Sexo,Edad,Dias_hospitalizado,N_victimas,Año,Mes,Dia,Hora,Calle,Altura,Cruce,Dirección,Comuna,Latitud,Longitud,Victima_y,Acusado
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,0.0,1.0,2016.0,1.0,1.0,4.0,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,-58.475340,-34.687570,MOTO,AUTO
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,0.0,1.0,2016.0,1.0,2.0,1.0,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,-58.508775,-34.669777,AUTO,PASAJEROS
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,0.0,1.0,2016.0,1.0,3.0,7.0,ENTRE RIOS AV.,2034.0,SD,ENTRE RIOS AV. 2034,1.0,-58.390403,-34.631894,MOTO,AUTO

Analizamos los datos del merge

In [7]:
df_final.isna().sum()
#Observamos que las columnas que tienen nulos son las de tipo datetime.
#El nulo NaT es manejable con pandas

Id                      0
Rol                     0
Victima_x               0
Sexo                    0
Edad                    0
Dias_hospitalizado     64
N_victimas              0
Año                     0
Mes                     0
Dia                     0
Hora                    1
Calle                   0
Altura                571
Cruce                   0
Dirección               0
Comuna                  0
Latitud                 0
Longitud                0
Victima_y               0
Acusado                 0
dtype: int64

In [8]:
'''
Analizamos las columnas, observamos que tenemos 2 fechas Victima_x y Victima_y
por ello verificaremos si tienen datos iguales o similares y procederemos a eliminar 1 de ellas
'''
iguales = (df_final['Victima_x'] == df_final['Victima_y']).all()
if iguales:
          print('Son iguales')
else: print('No son iguales y las columnas son: ')
df_final['diferente'] = df_final['Victima_x'] != df_final['Victima_y']
df_final[df_final['diferente']==True]

#Observo que la columna que da mejor información es Victima_X

No son iguales y las columnas son:

,Id,Rol,Victima_x,Sexo,Edad,Dias_hospitalizado,N_victimas,Año,Mes,Dia,...,Calle,Altura,Cruce,Dirección,Comuna,Latitud,Longitud,Victima_y,Acusado,diferente
229,2017-0108,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,17,0.0,2.0,2017.0,9.0,2.0,...,"PAZ, GRAL. AV.",NaN,MACHAIN,"PAZ, GRAL. AV. y MACHAIN",12.0,-58.494911,-34.547956,OBJETO FIJO,AUTO,True
230,2017-0108,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,10,0.0,2.0,2017.0,9.0,2.0,...,"PAZ, GRAL. AV.",NaN,MACHAIN,"PAZ, GRAL. AV. y MACHAIN",12.0,-58.494911,-34.547956,OBJETO FIJO,AUTO,True
590,2020-0063,PEATON,PEATON,MASCULINO,38,0.0,2.0,2020.0,12.0,5.0,...,NUEVA YORK,NaN,ALTA GRACIA,NUEVA YORK y ALTA GRACIA,11.0,-58.527838,-34.610470,PEATON_MOTO,MOTO,True
591,2020-0063,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,21,0.0,2.0,2020.0,12.0,5.0,...,NUEVA YORK,NaN,ALTA GRACIA,NUEVA YORK y ALTA GRACIA,11.0,-58.527838,-34.610470,PEATON_MOTO,MOTO,True

In [9]:
#Eliminamos la columna que creamos
df_final = df_final.drop(columns='diferente')

#Usaremos Fecha_x
df_final = df_final.drop(columns='Victima_y')
df_final = df_final.rename(columns={'Victima_x':'Victima'})
df_final.head(3)

,Id,Rol,Victima,Sexo,Edad,Dias_hospitalizado,N_victimas,Año,Mes,Dia,Hora,Calle,Altura,Cruce,Dirección,Comuna,Latitud,Longitud,Acusado
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,0.0,1.0,2016.0,1.0,1.0,4.0,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,-58.475340,-34.687570,AUTO
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,0.0,1.0,2016.0,1.0,2.0,1.0,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,-58.508775,-34.669777,PASAJEROS
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,0.0,1.0,2016.0,1.0,3.0,7.0,ENTRE RIOS AV.,2034.0,SD,ENTRE RIOS AV. 2034,1.0,-58.390403,-34.631894,AUTO

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  704 non-null    object
 1   Rol                 704 non-null    object
 2   Victima             704 non-null    object
 3   Sexo                704 non-null    object
 4   Edad                704 non-null    object
 5   Dias_hospitalizado  640 non-null    float64
 6   N_victimas          704 non-null    float64
 7   Año                 704 non-null    float64
 8   Mes                 704 non-null    float64
 9   Dia                 704 non-null    float64
 10  Hora                703 non-null    float64
 11  Calle               704 non-null    object
 12  Altura              133 non-null    float64
 13  Cruce               704 non-null    object
 14  Dirección           704 non-null    object
 15  Comuna              704 non-null    float64
 16  Latitud             704 non-null    float64
 17  Longitud            704 non-null    float64
 18  Acusado             704 non-null    object
dtypes: float64(10), object(9)
memory usage: 104.6+ KB

Guardamos en un csv

In [11]:
df_final.to_csv(r"C:\Users\argui\OneDrive\Escritorio\Siniestros viales\Dataset\mergeETL.csv")